<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <div class= "clearfix"> <%= f.label :first_name %> </div>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name" %>
  </div>

  <div class="field">
    <div class= "clearfix"> <%= f.label :last_name %> </div>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name" %>
  </div>

  <div class="field">
    <div class= "clearfix"> <%= f.label :username %> </div>
    <%= f.text_field :username, autofocus: true, autocomplete: "UserName" %>
  </div>

  <div class="field">
    <div class= "clearfix"> <%= f.label :email %> </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class= "clearfix"> <%= f.label :password %> </div>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class= "clearfix"> <%= f.label :password_confirmation %> </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <p> Hint: The password should be at least eight characters long. </p>
  <p> To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & ). </p>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<p> Your personal data will be used to support your experience throughout this website </p>
<p> To manage access to your account, and for other purposes described in our <a href="http://brentmark-prod.square63.net/privacy-policy/" target="_popup">Privacy Policy.</a> </p>
  
<%= render "devise/shared/links" %>
