<h2>Change your password</h2>

<%= form_with(model: @user, url: update_set_password_path(@user),  method: 'put' ,local: true) do |f| %>
  <%= render "shared/error_messages", resource: @user %>

  <div class="field">
    <div class= "clearfix"> <%= f.label :password, "New password" %> </div>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class= "clearfix"> <%= f.label :password_confirmation, "Confirm new password" %> </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
