<%= render "shared/error_messages", resource: @product %>

<div class="field">
  <div class="clearfix"><%= f.label :title %></div>
  <%= f.text_field :title, autofocus: true, autocomplete: "Title" %>
</div>

<div class="field">
  <div class="clearfix"><%= f.label :price %></div>
  <%= f.text_field :price, autofocus: true, autocomplete: "Price" %>
</div>

<div class="field">
  <div class="clearfix"><%= f.label :status %></div>
  <%= f.select :status, ['Publish', 'Draft', 'Pending'] %>
</div>

<div class="field">
  <div class="clearfix"><%= f.label :image %></div>
  <%= f.file_field :image, autofocus: true, autocomplete: "Image" %>
</div>

<div class="field">
  <div class="clearfix"><%= f.label :description %></div>
  <%= f.text_area :description, rows: "5", cols: "50", autofocus: true, autocomplete: "Description" %>
</div>
