<%= form_tag(products_path, method: :get) do %>
  <p> Search for a product </p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<table class="table table-light">
  <thead class="thead-dark ">
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "price" %></th>
      <th>Image</th>
      <th>Actions</th>
      <th colspan="3"></th>   
    </tr>
  </thead>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.price %></td>
      <td style="width:200px; height:auto"><%= image_tag(product.image, style:'width:100%') %></td>
      <td>
        <%= link_to 'Show', product_path(product) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @products, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm justify-content-center", nav_class: "d-inline-b" %>
