<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">ProductMS</a>
  <form class="form-inline">
    <%= link_to 'All Products', products_path, class: "btn btn-default" %>
    <%= link_to 'Change Password', set_password_path(current_user.id), class: "btn btn-default" %>
    <%= link_to 'User Profile', user_path(current_user.id), class: "btn btn-default" %>
    <%= link_to 'Cart', cart_path, class: "btn btn-default" %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-default" %>
  </form>
</nav>
